.events {
    background-color: #363636;
    margin: 15px 15px 15px 15px;
    height: 350px;
    border-radius: 10px;
    padding: 0px;
    float:left;
    text-align: left;
}

.viewEvent {
    float: right;
    color: #d15851;
    height: 100%;
    width: 30px;
    float:right;
    text-align:center;
    font-size: 22px;
}

.listItem {
    color: #eeeeee;
    border-bottom: 1px solid #242424;
    height: 2.5rem;
    line-height:2.5rem;
    cursor:pointer;
    padding-left: 10px;
    font-size: 14px;
}

.startDate {
    margin-right: 15px;
}

.exitModal {
    position: absolute;
    top: 0;
    right: 10px;
    color: #d15851;
    font-size: 24px;
    cursor: pointer;
}

.modalTitle {
    margin-bottom: 20px;
    text-indent: 20px;
}

.customInput {
    width: 220px;
    margin-bottom: 10px;
}

.inputAddon {
    background-color: #363636;
    border: 1px solid darkgrey;
    color: darkgrey;
    height: 28px;
    cursor:pointer;
    font-weight: bold;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.submitDiv {
    margin: 10px auto 0 auto;
    height: 32px;
    width: 110px;
}

.submitBtn {
    font-family: 'Campton-Bold';
    text-transform: uppercase;
    background-color: #363636;
    border-radius: 15px;
    border: 2px solid #d15851;
    color: #a9a9a9;
    cursor: pointer;
    padding-top: 4px;
    text-align:center;
    width: 106px;
}