.user {
    background-color: #363636;
    margin: 15px 15px 15px 15px;
    height: 350px;
    border-radius: 10px;
    padding: 0px;
    float:left;
    font-size: 15px;
}

.red {
    color: #d15851;
}

.white {
    color: #eeeeee;
}

.avatar1, .avatar2 {
    width: 100%;
}

.avatar1 img, .avatar2 img {
    border-radius: 50%;
}

.avatar1 {
    margin-top: 75px;
}

.mode1, .mode2 {
    margin-top: 10px;
    font-size: 30px;
    cursor:pointer;
    color: #d15851;
}

.textLeft {
    text-align: left;
}
