.app {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: #242424;
  font-family: 'Montserrat', sans-serif;
  color: #eee;
}

.mainLogo {
  position: fixed;
  height: 200px;
  width: 400px;
  top: 30%;
  left: 35%;
}

.enterButton {
  background-color: #d15851;
  color: #eeeeee;
  text-align:center;
  margin-top: 30px;
  width: 115px;
  border-radius:10px;
  font-size: 20px;
  cursor:pointer;
}


